<!-- Modal -->
<div class="modal fade" id="signupModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content box_padding">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="sign_up_field">
        <div class="modal-body">
          <%= form_for User.new, url: user_registration_path(User.new), remote: true do |f| %>

            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name %>
            </div>

            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name %>
            </div>

            <div class="field">
              <%= f.label :phone_number %><br />
              <%= f.text_field :phone_number %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="thanks_for_joining">
        <%= render partial: "layouts/join_notification_modal.html.erb"%>
      </div>
    </div>
    
  </div>
</div>